@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto&display=swap');

:root{
    --green:#bac34e;
    --black:#222;
    --white:#fff;
    --light-color:#666;
    --light-bg:#f3f3f3;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

@mixin grid($val){
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax($val, 1fr));
    gap:1.5rem;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.header{
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
    background: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.header .search-form{
    position: absolute;
    top: -115%;right: 2rem;
    width: 50rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    height: 5.5rem;
    box-shadow: var(--box-shadow);
    background: var(--white);

   
}

.header .search-form.active{
    top: 115%;
}
.header .search-form input{
    height: 100%;
    width: 100%;
    padding: 0 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}
.header .search-form label{
    font-size: 2.5rem;
    margin-right: 1.7rem;
    cursor: pointer;
    color: var(--light-color);
    &:hover{
        color: var(--green);
    }
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i{
    color: var(--green);
    padding-right: .5rem;
}

.header .navbar a{
    font-size: 1.7rem;
    color: var(--light-color);
    margin: 0 1rem;
    &:hover{
        color: var(--green);
    }
}

.header .icons div{
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: var(--light-color);
    &:hover{
        color: var(--green);
    }
}

.header .icons div.menu-btn{
    display: none;
}

.header .shopping-cart{
    position: absolute;
    top: 115%;right: -105%;
    background: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    padding: 2rem;
}

.header .shopping-cart.active{
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;
}
.header .shopping-cart .box .fa-times{
    position: absolute;
    top: 50%;right: 2rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: var(--light-color);    
    cursor: pointer;
    &:hover{
        color: var(--green);
    }
}

.header .shopping-cart .box img{
    height: 10rem;
    border: .5px dashed var(--light-color);
    /* just for now */
    /* padding: 3rem; */
}

.header .shopping-cart .box .content h3{
    font-size: 1.7rem;
    padding-bottom: .5rem;
    color: var(--black);
}
.header .shopping-cart .box .content span{
    font-size: 1.5rem;
    color: var(--light-color);
    &.multiply{
        margin: 0 .5rem;
    }
}
.header .shopping-cart .total{
    color: var(--light-color);
    text-align: center;
    font-size: 2.2rem;
}
.header .shopping-cart span{
    color: var(--black);
}
/* position on top */
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    background: var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    color: var(--white);
    &:hover{
        background: var(--black);
    }
}

.header .shopping-cart .btn{
    text-align: center;
    width: 100%;
}

.header .login-form{
    position: absolute;
    top: 115%;right: -105%;
    background: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    padding: 2rem;

}
.header .login-form.active{
    right: 2rem;
    transition: .4s linear;
}
.header .login-form h3{
    color: var(--black);
    text-transform: uppercase;
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: .7rem;
}
.header .login-form .box{
    margin: .7rem 0;
    border: var(--border);
    padding: 1rem 1.2rem;
    font-size: 1.5rem;
    color: var(--black);
    text-transform: none;
    width: 100%;
}
.header .login-form .remember{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: .7rem 0;
}
.header .login-form .remember label{
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}
.header .login-form .btn{
    margin: 1rem 0;
    width: 100%;
    text-align: center;
}
.header .login-form p{
    color: var(--light-color);
    padding-top: .7rem;
    font-size: 1.4rem;
}
.header .login-form p a{
    color: var(--green);
    &:hover{
        text-decoration: underline;
    }
}























/* media queries */
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
}

@media(max-width:768px){
    .header .icons div.menu-btn{
        display: inline-block;
    }
    .header .search-form{
        width: 100%;
        right: 0;
        border-radius: 0;
    }
    .header .search-form.active{
        top: 99%;
        border-top : var(--border);
        border-bottom: var(--border);
    }
    .header .navbar{
        position: absolute;
        top: 99%;left: 0;right: 0;
        background:var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: var(--light-bg);
        font-size: 2rem;
        display: block;
        border-radius: .5rem;
    }
}

@media(max-width:450px){
    html{
        font-size: 40%;
    }
}